input[type=text],
input[type=password],
input[type=email],
input[type=phone],
textarea
{
  border-radius: 0px;
  border-color: @alto;
  box-shadow: none;

  &:focus{
    border-radius: 0px;
    border-color: @silver;
    box-shadow: none;
  }
}