h1 {
	font-size: 89px !important !important;
	font-weight: 900 !important;
}
h2 {
	font-size: 55px !important;
	font-weight: 700 !important;
}
h3 {
	font-size: 34px !important;
	font-weight: 400 !important;
}
h4 {
	font-size: 21px !important;
	font-weight: 400 !important;
}
h5 {
	font-size: 16px !important;
	font-weight: 400 !important;
}
p {
	font-size: 16px !important;
	font-weight: 300 !important;
}
span {
	font-size: 16px !important;
	font-weight: 100 !important;
}
small {
	font-size: 12px !important;
	font-weight: 100 !important;
}