/*
 	Begin margin helpers
 	Attempt to use fibonacci for natural balancing
 */
.margin-3 {
	margin-top: 3px;
	margin-bottom: 3px;
}
.margin-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.margin-7 {
	margin-top: 7px;
	margin-bottom: 7px;
}
.margin-10 {
	margin-top: 11px;
	margin-bottom: 11px;
}
.margin-20 {
	margin-top: 21px;
	margin-bottom: 21px;
}
/* End margin helpers */

/* Begin icon sizing helpers */
.icon-2x {
	
}
/* End icon sizing helpers */